body {
    margin: 0;
    padding: 0;
    background-image: url('image/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    width: 100%;
    height: 100vh;
}
.loader {
    position: fixed;
    background-color: #ececec;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.loader > img {
    width: 100px;
}
#text-logo {
    font-family: 'Notable', sans-serif;
    color: #fff;
    font-size: 24px;
    margin-left: 5px;
}

/* For index */
.container > .sologan {
    text-align: center;
    width: 100%;
    font-size: 60px;
    font-weight: 700;
    font-family: 'M PLUS 1p', sans-serif;
    color: #fff;
    font-weight: lighter;
}
.box {
	padding: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	border-radius: 24px;
}
.box h1{
	color: white;
	font-weight: 500;
}
.box input[type="text"], .box input[type="password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ec5569;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.box input[type="text"]:focus ,.box input[type="password"]:focus{
	width: 280px;
	border-color: #000;
}
.box input[type="submit"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #000;
	padding: 14px 40px;
	width: 150px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type="submit"]:hover {
	background: #000;
}

/* For Gender */

.radio-btn {
	background-color: rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    padding-bottom: 30px;
}
@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
}
.option-input:hover {
background: rgba(0, 0, 0, 0.3);
}
.option-input:checked {
background: rgba(0, 0, 0, 0.3);
}
.option-input:checked::before {
height: 40px;
width: 40px;
position: absolute;
content: '✔';
display: inline-block;
font-size: 32px;
text-align: center;
line-height: 40px;
color: #000;
}
.option-input:checked::after {
animation: click-wave 0.65s;
background: rgba(0, 0, 0, 0.3);
content: '';
display: block;
position: relative;
}
.option-input.radio {
border-radius: 50%;
}
.option-input.radio::after {
border-radius: 50%;
}
body label {
    display: block;
    line-height: 40px;
    padding-left: 30px;
}
body label:nth-child(1) {
    padding-top: 30px;
}
.radio-btn input[type="submit"] {
	border: 0;
	background: none;
    display: block;
    margin: 10px auto;
	border: 2px solid #000;
	padding: 14px 40px;
	outline: none;
    color: white;
	border-radius: 24px;
	transition: 0.25s;
    cursor: pointer;
}
.radio-btn input[type="submit"]:hover {
    background: #000;
}
/* For List Hobby */
.list-hobby {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
}
ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li {
    display: inline;
}
ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(139, 139, 139, 0.3);
    color: #adadad;
    border-radius: 20px;
    white-space: nowrap;
    margin: 3px 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
}

ul.ks-cboxtags li label {
    padding: 0px 15px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "+";
    transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "✔";
    transform: rotate(-360deg);
    transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #c0392b;
    color: #000;
    transition: all 0.1s;
}
 
ul.ks-cboxtags li input[type="checkbox"] {
display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
    border: 2px solid #c0392b;
}
.list-hobby input[type="submit"] {
	border: 0;
	background: none;
    display: block;
    margin: 10px auto;
	border: 2px solid #000;
	padding: 14px 40px;
	outline: none;
    color: white;
	border-radius: 24px;
	transition: 0.25s;
    cursor: pointer;
}
.list-hobby input[type="submit"]:hover {
    background: #000;
}


/* For result */
.img-wrapper
{
	width: 300px;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.img-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	height: 400px;
	width: 300px;
	filter: grayscale(100%);
	transition: 2s;
}
.img-wrapper:hover img
{
	filter: grayscale(0%);
	transform: scale(1.1);
}

.img-wrapper h2
{
	background: tomato;
	font-family: Poppins;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper:hover h2
{
	transform: perspective(400px) rotateY(0deg);
}

.img-wrapper ul
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li
{
	background: #333;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	transform: perspective(800px) rotateY(90deg);
	transition: .5s;
	transform-origin: left;
}

.img-wrapper:hover ul li
{
	transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1)
{
	transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(2)
{
	transition-delay: .6s;
}

.img-wrapper:hover ul li:nth-child(3)
{
	transition-delay: .8s;
}

.img-wrapper:hover ul li:nth-child(4)
{
	transition-delay: 1s;
}

.img-wrapper ul li a
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i:hover
{
	color: #fff;
	background: rgba(255,255,255,0);
}










@media (max-width: 576px) { 
    body {
        background-image: url(image/back-phone.png);
        height: 150vh;
        background-position: center;
    }
 }
